---
layout: base.liquid
title: "About"
---

<div class="about-page">
    <header class="page-header">
        <h1 class="page-title">About Me</h1>
    </header>

    <div class="about-content">
        <p>I'm Irakli, from the country of Georgia. I've been an engineer at <s>Facebook</s> Meta for a few years now.</p>

        <p>I like building things. Hoping to find more time to write about what I building here.</p>
    </div>
    
    <footer class="page-footer">
        <a href="/" class="back-home">← Back to posts</a>
    </footer>
</div>